@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
